<form [formGroup]="form">

  <p>Every new bid should be greater that the last one</p>

  <div class="form-group">
    <label>Bid:</label>
    <input type="number" class="form-control" name="price" formControlName="price" />
    <div class="alert alert-danger"
         *ngIf="form.controls['price'].invalid && form.controls['price'].touched">
      This field is required
    </div>
  </div>


  <button class="btn btn-secondary" (click)="create()" [disabled]="form.controls['price'].invalid">Create bid</button>



  <hr />
</form>
