<ng-container *ngIf="lot">
  <p class="lot-Name">Name: <span>{{lot.name}}</span></p>
  <p>Created: <span>{{lot.creationDate | date:"MM/dd/yyyy ' at ' h:mma"}}</span></p>
  <p>Price: <span>{{lot.startingPrice}}</span>$</p>
  <p>Description: <span>{{lot.description }}</span></p>
</ng-container>


<button *ngIf="role" class="btn btn-secondary" (click)="deleteLot(lot.lotId)">Delete lot</button>
<p class="lot-Name">Bids: </p>

<ng-container *ngIf="lot">
  <app-bid-form [lotId]="lot.lotId" ></app-bid-form>
</ng-container>


<ng-container *ngIf="bids">
  <div *ngFor="let bid of bids; let i = index">
    <p><span>{{getUserName(bid.userId)}} : {{bid.price}}$,   {{bid.creationDate | date:"MM/dd/yyyy ' at ' h:mma"}}</span></p>
  </div>
</ng-container>


