<form [formGroup]="form">

  <p>Fields with "*" must be filled</p>

  <div class="form-group">
    <label>UserName *:</label>
    <input class="form-control" name="username" formControlName="username" />
    <div class="alert alert-danger"
         *ngIf="form.controls['username'].invalid && form.controls['username'].touched">
      Name must have at least 5 symbols
    </div>
  </div>

  <div class="form-group">
    <label>Password *:</label>
    <input class="form-control" name="password" formControlName="password" />
    <div class="alert alert-danger"
         *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
      This field is required
    </div>
  </div>

  <div class="form-group">
    <label>Email *:</label>
    <input type="email" class="form-control" name="email" formControlName="email" />

    <div class="alert alert-danger"
         *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
      Invalid email
    </div>

  </div>

  <div class="form-group">
    <label>First Name *:</label>
    <input class="form-control" name="firstName" formControlName="firstName" />
  </div>

  <div class="form-group">
    <label>Middle Name:</label>
    <input class="form-control" name="middleName" formControlName="middleName" />
    
  </div>

  <div class="form-group">
    <label>Last Name *:</label>
    <input class="form-control" id="lastname" name="lastName" formControlName="lastName" />
    
  </div>

  <div class="form-group">
    <label>Phone:</label>
    <input class="form-control" name="phone" formControlName="phone" />
    <div class="alert alert-danger"
         *ngIf="form.controls['phone'].invalid && form.controls['phone'].touched">
      Phone must contain only numeric digits
    </div>
  </div>

  <div class="form-group">
    <label>Address:</label>
    <input class="form-control" name="address" formControlName="address" />

  </div>
    <button class="btn btn-secondary" (click)="submit()" [disabled]="form.controls['phone'].invalid || form.controls['email'].invalid || form.controls['password'].invalid || form.controls['username'].invalid">Submit</button>

</form>



<ng-container *ngIf="error">
  <p><span>{{error.body}}</span></p>

 </ng-container>
