<form [formGroup]="form">

 

  <div class="form-group">
    <label>First Name:</label>
    <input class="form-control" name="firstName" formControlName="firstName" />
  </div>

  <div class="form-group">
    <label>Middle Name:</label>
    <input class="form-control" name="middleName" formControlName="middleName" />
  </div>

  <div class="form-group">
    <label>Last Name:</label>
    <input class="form-control" name="lastName" formControlName="lastName" />
  </div>

  <div class="form-group">
    <label>Phone:</label>
    <input class="form-control" name="phone" formControlName="phone" />
    <div class="alert alert-danger"
         *ngIf="form.controls['phone'].invalid && form.controls['phone'].touched">
      Phone must contain only numeric digits
    </div>
  </div>

  <div class="form-group">
    <label>Address:</label>
    <input class="form-control" name="address" formControlName="address" />
  </div>

  <button class="btn btn-secondary"  [disabled]="form.controls['phone'].invalid"  (click)="edit()">Edit</button>

</form>
