 <ng-container *ngFor="let user of users; let i = index">
   <table>
     <tr>
       <td>
         <p class="lot-Name">UserName:</p>
       </td>
       <td>
         <p class="lot-Name"><span>{{user.userName}}</span></p>
       </td>
     </tr>
     <tr>
       <td>
         <p>First Name: </p>
       </td>
       <td>
         <p><span>{{user.firstName}}</span></p>
       </td>

     </tr>
     <tr>
       <td>
         <p>Middle Name: </p>
       </td>
       <td>
         <p><span *ngIf="user.middleName">{{user.middleName}}</span> <span *ngIf="!user.middleName">not specified</span></p>
       </td>
     </tr>

     <tr>
       <td>
         <p>Last Name: </p>
       </td>
       <td>
         <p><span>{{user.lastName}}</span></p>
       </td>

     </tr>
     <tr *ngIf="role">

       <td>
         <p>Email: </p>
       </td>
       <td>
         <p><span>{{user.email}}</span></p>
       </td>
     </tr>
     <tr *ngIf="role">
       <td>

         <p>Address: </p>
       </td>
       <td>
         <p><span>{{user.address}}</span></p>
       </td>

     </tr>

     <tr *ngIf="role">
       <td>

         <p>Phone: </p>
       </td>
       <td>
         <p><span>{{user.phone}}</span></p>
       </td>

     </tr>
   </table>
    <button *ngIf="role" class="btn btn-secondary" (click)="delete(user.userName)">Delete</button>
    <br />
    <hr />
</ng-container>
