<form #loginForm="ngForm">
   <div style="margin: auto; width: 200px" class="form-group">
     <label for="login" class="control-label">Username: </label>
     <br />
     <input type="text" required name="name" [(ngModel)]="username" minlength="5" />
   </div>
  
   <div style="margin: auto; width: 200px" class="form-group">
     <label for="password" class="control-label">Password:</label>
     <br />
     <input type="password" required name="password" [(ngModel)]="password" minlength="5" />
   </div>
   <br />
   <div class="col-md-12 text-center">
     <button class="btn btn-secondary" (click)="submit()">Sign in</button>
   </div>
</form>


