.lot-Name{
    font-size: 33px
}
.search{
    float:right
}
.lot-image{
    width: 80%;
}
.lot-item {
  border-style: outset;
  border-radius: 8%;
  border: 1px solid;
  padding: 2%;
  margin: 10px;
  width: 350px;
  flex: 0 0 350px;
  background-color: rgb(255, 255, 0, 0.05)
}
.lot-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
