
<div style="width: 100%; height:30px">
  <div class="search">
    <input  [(ngModel)]="searchString" type="text" placeholder="Search" style="vertical-align: bottom; height:38px" />
    <button class="btn btn-secondary" (click)="onSearch()">Search</button>
  </div>
</div>
<div *ngIf="role">
  <button class="btn btn-secondary" routerLink="create-lot" routerLinkActive="true">Create new lot</button>
  <p>*Only admins and contributors can create lots</p>
</div>


<div class="lot-box">
  
  <div *ngFor="let lot of lots; let i = index" class="lot-item">
    <hr>
    <img src="../../assets/default-image.jpg" alt="Lot image" class="lot-image"/>
    <p class="lot-Name">Name: {{lot.name}}</p>
    <p>Created: <span>{{lot.creationDate | date:"MM/dd/yyyy ' at ' h:mma"}}</span></p>
    <p>Price: <span>{{lot.startingPrice}}</span>$</p>
    <p>Description: <span>{{lot.description | slice:0:20}} ...</span></p>
    <button class="btn btn-secondary" [routerLink]="['/lots/', lot.lotId]">Details</button>
    <hr>
  </div>
    
</div>
