<style>
  .center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
  }
  .center-button {
    border-radius: 100%;
    background-color: #343a40;
    height: 250px;
    width: 250px;
    text-align: center;
    padding: 40% 0 40%;
  }
</style>

<h1 class="nav-link text-dark">Internet Auction</h1>
<div class="center">

  <a class="nav-link" [routerLink]="['/lots']">
    <div class="center-button">

      <h2 style="color:azure">See the lots</h2>

    </div>
  </a>
  <br>
</div>


