<h1>Profile:</h1>
<ng-container *ngIf="user">
  
  <table>
    <tr>
      <td>
        <p class="lot-Name">UserName:</p>
      </td>
      <td>
        <p class="lot-Name"><span>{{user.userName}}</span></p>
      </td>
    </tr>
    <tr>
      <td>
        <p>First Name: </p>
      </td>
      <td>
        <p><span>{{user.firstName}}</span></p>
      </td>

    </tr>
    <tr>
      <td>
        <p>Middle Name: </p>
      </td>
      <td>
        <p><span *ngIf="user.middleName">{{user.middleName}}</span> <span *ngIf="!user.middleName">not specified</span></p>
      </td>
    </tr>

    <tr>
      <td>
        <p>Last Name: </p>
      </td>
      <td>
        <p><span>{{user.lastName}}</span></p>
      </td>

    </tr>
    <tr>
      <td>
        <p>Email: </p>
      </td>
      <td>
        <p><span>{{user.email}}</span></p>
      </td>

    </tr>
    <tr>
      <td>
        <p>Address: </p>
      </td>
      <td>
        <p><span *ngIf="user.adress">{{user.adress}}</span> <span *ngIf="!user.adress">not specified</span></p>
      </td>

    </tr>
    <tr>
      <td>
        <p>Phone: </p>
      </td>
      <td>
        <p><span *ngIf="user.phone">{{user.phone}}</span> <span *ngIf="!user.phone">not specified</span></p>
      </td>

    </tr>
  </table>

</ng-container>

<button class="btn btn-secondary" [routerLink]="['/user/edit/'] ">Edit profile</button>



