<form [formGroup]="form">

  <div class="form-group">
    <label>Name:</label>
    <input class="form-control" name="name" formControlName="name"  />
  </div>

  <div class="form-group">
    <label>Description:</label>
    <input class="form-control" name="description"  formControlName="description" />
  </div>

  <div class="form-group">
    <label>Starting Price:</label>
    <input class="form-control" name="startingPrice" formControlName="startingPrice"  />
  </div>

  <button class="btn btn-secondary" (click)="create()">Create</button>

</form>
